{% extends 'Base.html' %}
{% block body %}
<div class="form_page">
    <div class="form_heading">
        <h2>Give Your Details</h2>
    </div>
<form method="post" class="form-group" id="myForm">
        {% csrf_token %}
  <div class="row form_margin">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputDob">Date Of Birth</label>
      <input type="date" class="form-control" id="inputDob" name="DOB" >
    </div>
  </div>
    <div class="row form_margin">
  <div class="form-group col-md-6">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" name="age" placeholder="Enter your Age" min="1" max="120" >
  </div>
    <div class="form-group col-md-6">
    <label for="input">Phone Number</label>
    <input type="number" class="form-control" id="input" name="pn"  placeholder="Enter Your Phone number" pattern="[0-9]{10}" >
  </div>
        </div>
              <div class="form-group form_margin">
    <label>Address</label>
              <textarea class="form-control" placeholder="Enter your Address" name="address" rows="3"  ></textarea>
  </div>
        <div class="form-check form-check-inline form_margin">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male" value="Male">
  <label class="form-check-label" for="male">Male</label>
</div>
<div class="form-check form-check-inline form_margin">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female" value="Female">
  <label class="form-check-label" for="female">Female</label>
</div>
<div class="form-check form-check-inline form_margin">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="other" value="Other">
  <label class="form-check-label" for="other">Other</label>
</div>
        <div class="form-group form_margin">
    <label for="inputmail">Email</label>
    <input type="email" class="form-control" name="email" id="inputmail" placeholder="Enter Your Email" >
  </div>

  <div class="row form_margin">
    <div class="form-group col-md-6">
      <label for="inputdist">District</label>
    <select id="inputdist" name="dist" class="form-control" >
        <option selected>Choose...</option>
        {% for dist in link %}
        <option value="{{dist.id}}">{{dist.name}}</option>
        {% endfor %}

    </select>
    </div>
      <div class="form-group col-md-6 form_margin">
      <label for="inpbranch">Branch</label>
    <select id="inpbranch" name="branch" class="form-control" >
        <option value="">Choose...</option>

    </select>
    </div>
  </div>
        <div class="form-check form-check-inline form_margin">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="cc" value="credit card">
  <label class="form-check-label" for="inlineCheckbox1">Credit Card</label>
</div>
<div class="form-check form-check-inline form_margin">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="cc" value="debit card">
  <label class="form-check-label" for="inlineCheckbox2">Debit Card</label>
</div>
<div class="form-check form-check-inline form_margin">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="cc" value="check book" >
  <label class="form-check-label" for="inlineCheckbox3">Check Book</label>
</div>
        <div class="form_margin">
  <button type="submit" class="btn btn-primary col-md-2">Submit</button>
        </div>
    <div class="form_msg">
        <p id="validation_errors">

        </p>
    </div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#inputdist').on('change', function() {
      var districtId = $(this).val();
      if (districtId) {
        $.ajax({
          url: '/get-branches/',  // URL to your Django view to fetch branches
          data: {'district_id': districtId},
          dataType: 'json',
          success: function(data) {
            $('#inpbranch').empty();
            $('#inpbranch').append('<option value="" selected>Choose..</option>');
            $.each(data.branches, function(key, value) {
              $('#inpbranch').append('<option value="' + value.id + '">' + value.name + '</option>');
            });
          }
        });
      } else {
        $('#inpbranch').empty();
        $('#inpbranch').append('<option value="" selected>Choose...</option>');
      }
    });
  });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myForm').on('submit', function(event) {
            event.preventDefault();

            $.ajax({
                url: '{% url 'Bank:bank_form' %}',
                method: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        // Display a success message as an alert
                        swal({
                            text: "Form submitted successfully",
                            icon: "success",
                        });

                    } else if (response.errors) {
                        // Display validation errors in the <p> tag
                        $('#validation_errors').html(response.errors.join('<br>'));
                    }
                },
            });
        });
    });
</script>


{% endblock %}
