{% extends 'Base.html' %}
{% load static %}
{% block title %}
We Solve Your Financial Problem | Banking Website
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-6">
        <div>
            <img class="new_img" src="{% static 'Images/background.jpg' %}" alt="image">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 new_right">
        <div class="new_content">
            <h2>We Solve Your Financial Problem</h2>
            <p>Finance is a financial institution that is licensed to accept checking and
                savings deposits and make loans. Banks also provide related services such as individual retirement
                accounts,
                certificates of deposit, currency exchange, and safe deposit boxes.<br>
            To continue with our services please fill the form</p>
            <a href="{% url 'Bank:bank_form' %}" class="btn btn-primary new_btn">View Form</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}